version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: myhomefin-app
    ports:
      - "8080:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
